# Ignore Intellij IDEA files
/.idea
/*.iml
/cobertura.ser
/.gradle

# Ignore build artifacts
target
target-eclipse

# Ignore packaged plugins
*.zip

out
stacktrace.log
plugin.xml
0
.classpath
.project
*.sha1
.settings
